<footer class="footer">
    <span class="footer_item"></span>
    &nbsp;
    <div class="footer_social-icons">
        {% for social in site.socials -%}
        <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer me"
            title="{{ social.name }}">
            {% with icon_name=(social.name | trim | lower) -%}
                {% include "svgs/svgs.html" -%}
            {% endwith -%}
        </a>
        {% endfor -%}
    </div>
    <small class="footer_copyright">
        &copy; {{ now() | date(format="%Y") }} <a href="{{ site.url }}">{{ site.title }}</a></span>
    </small>
</footer>
<a href="#" title="Go top" id="totop">
    {% with height=48, width=48 -%}
        {% include "svgs/arrowUp.svg" -%}
    {% endwith -%}
</a>
