{% extends "default.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<div class="posts">
    {% for pages in pages %}
    <article class="post">
        <h1><a href="{{ url | safe }}/{{ page.route }}/{{ page.metadata.slug }}">{{ page.metadata.title }}</a></h1>
        <h5><div class="post-meta">{{ post.date | date(format="%d/%m/%Y") }}</div></h5>
        <div class="entry">
            {{ page.metadata.excerpt | safe}}
        </div>
        <a href="{{ url | safe }}/{{ page.route }}/{{ page.metadata.slug }}" class="read-more">Sigue leyendo...</a>
    </article>
    {% endfor %}
</div>
{% endblock content %}
