{% extends "default.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<div class="posts">
    {% for apage in pages %}
    <article class="post">
        <h1><a href="{{ url | safe }}/{{ apage.route }}/{{ apage.metadata.slug }}">{{ apage.metadata.title }}</a></h1>
        <h5><div class="post-meta">{{ apage.metadata.date | date(format="%d/%m/%Y") }}</div></h5>
        <div class="entry">
            {{ apage.metadata.excerpt | safe}}
        </div>
        <a href="{{ url | safe }}/{{ apage.route }}/{{ apage.metadata.slug }}" class="read-more">Sigue leyendo...</a>
    </article>
    {% endfor %}
</div>
{% endblock content %}
